*{background-image: url(https://i.pinimg.com/originals/2d/0c/b1/2d0cb196e6073d60116127f1a72d2b65.jpg);
    font-size: larger;
    text-align: center;
    border-radius: 20px;
    font-style: italic;
    color: white;
}


