*{background-image: url(https://i.pinimg.com/736x/49/3f/90/493f9067a8615dc46b9ed5fd896564cc--nuest-jr-neymar-jr.jpg);
    font-size: larger;
    text-align: center;
    border-radius: 20px;
    font-style: italic;
    color: white;
}


